<!-- <input
  #fileInput type="file"
  accept="image/*"
  capture="camera"
  (change)="fileSelect.emit($event)"
>
<button *ngIf="!photoName" mat-icon-button (click)="fileInput.click()">
  <mat-icon>add_a_photo</mat-icon>
</button>
<a mat-icon-button *ngIf="data" [href]="data" download="test.jpeg">
  <mat-icon>save_alt</mat-icon>
</a> -->
<button mat-icon-button (click)="capture.emit()">
  <mat-icon>camera_alt</mat-icon>
</button>
<button mat-icon-button (click)="clear.emit()">
  <mat-icon>refresh</mat-icon>
</button>
<mat-button-toggle-group name="filmType" aria-label="Film Type">
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group>
<!-- <app-share></app-share> -->