<!-- <input
  #fileInput type="file"
  accept="image/*"
  capture="camera"
  (change)="fileSelect.emit($event)"
>
<button *ngIf="!photoName" mat-icon-button (click)="fileInput.click()">
  <mat-icon>add_a_photo</mat-icon>
</button>
<a mat-icon-button *ngIf="data" [href]="data" download="test.jpeg">
  <mat-icon>save_alt</mat-icon>
</a> -->
<div fxLayout="row" fxLayoutAlign="space-between">
  <button mat-fab color="white" (click)="clear.emit()"><mat-icon>refresh</mat-icon></button>
  <button mat-fab color="white" [disabled]="!data" (click)="drawer.toggle()"><mat-icon>share</mat-icon></button>
</div>
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav-drawer" mode="side" position="end">
    <a mat-fab color="white" (click)="drawer.toggle()" [href]="data" download="neg-scan-image.jpeg">
      <mat-icon>save</mat-icon>
    </a>
  </mat-drawer>
</mat-drawer-container>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <button color="white" mat-fab *ngFor="let item of filmTypes | keyvalue" [ngClass]="item.key" (click)="capture.emit(item.value)">{{item.key}}</button>
</div>